<div>
  <div class="col-sm-2">
    <p>Manage</p>
    <p><a href="#/admin/players">Players</a></p>
    <p><a href="#/admin/clubs">Clubs</a></p>
    <p><a href="#/admin/stadiums">Stadiums</a></p>
  </div>
  <div class="col-md-10">
    <p>Players</p>
    <button type="button" class="btn btn-default btn-xs">edit</button>
    <p></p>
    <form class="form-horizontal" role="form" ng-show="addPlayer">
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control input-sm" id="name" placeholder="name" ng-model="newPlayer.name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="number" class="form-control input-sm" id="playingNumber" placeholder="number" ng-model="newPlayer.squadNumber">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="date" class="form-control input-sm" id="birthDate" placeholder="birth date (YY-MM-DD)" ng-model="newPlayer.birthDate">
        </div>
        <p>{{birthDate}}</p>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <div positions selected-position="selectedPosition"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <div countries selected-country="selectedCountry"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <div clubs selected-club="selectedClub"></div>
        </div>
      </div>
    </form>
    <p>
      <button type="button" class="btn btn-default btn-xs" ng-click ="addPlayer()">add</button>
    </p>
    <!--players-->
    <table class="table table-striped">
      <tr>
        <td>name</td>
        <td>number</td>
        <td>birth date</td>
        <td>age</td>
        <td>country</td>
        <td>club</td>
        <td></td>
      </tr>
      <tr ng-repeat="player in players.items">
        <td><a ng-href=#/players/{{player.id}}>{{player.name}}</a></td>
        <td>{{player.num}}</td>
        <td>{{player.birthDate}}</td>
        <td>{{player.age}}</td>
        <td>{{player.country.name}}</td>
        <td><a ng-href=#/clubs/{{player.club.id}}>{{player.club.name}}</a></td>
        <td><button type="button" class="btn btn-default btn-sm" ng-click="delete(player)">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button></td>
      </tr>
    </table>
  </div>
</div>